{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", cursive;
}
 
body
{
    background-color: rgb(250, 248, 152);
}
 
.badan-utama
{
    max-width: 1080px;
    margin: 20px auto;
    background-color: white;
    padding: 15px;
    overflow: hidden;
}
 
header
{
    background-color: rgb(98, 135, 138);
    color: white;
    padding: 20px;
}
 
header h2
{
    margin-bottom: 7px;
    font-size: 35px;
}
 
.kotak
{
    border: 1px solid gainsboro;
    padding: 10px;
    margin-bottom: 15px;
}
 
.kotak h3
{
    background-color:  rgb(98, 135, 138);
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 13px;
}
 
.kotak img
{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
 
.kotak p
{
    margin-bottom: 10px;
}
 
.menu-kiri
{
    width: 250px;
    margin-right: 10px;
    float: left;
}
 
.menu-kanan
{
    width: 250px;
    margin-right: 10px;
    float: left;
}
 
.menu-kanan, .menu-kiri
{
    margin-bottom: 15px;
}
 
footer
{
    clear: both;
    background-color:  rgb(98, 135, 138);
    color: white;
    padding: 15px;
    text-align: center;
}
 
